html {
    background-color: orange;
}
nav {
    text-align: center;
    height: 183px;
    left: 0;
    right: 0;
    background-image: url("images.jpg");
    box-shadow: 0 0 24px -5px red;
    justify-content: space-between;
}
h1 {
    color: antiquewhite;
}
a {
  color:antiquewhite;
  text-decoration: bold;
  font-size: xx-large;
}
main {
    text-align: center;
}
iframe {
    display: block;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: antiquewhite;
}
h3 {
    text-align: right;
    color: antiquewhite;
    text-decoration: bold;
    font-size: xx-large;
}
h4 {
    text-align: left;
    color: antiquewhite;
    text-decoration: bold;
    font-size: xx-large;
}
p {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 30, 30);
    align-content: center;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    align-content: center;
    line-height: 75px;
    font-size: 30px;
  }